$primary : #D7CEC7;
$second : #565656;
$third: #76323F;
$fourth: #C09F80;

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro');

$font1: 'Playfair Display', serif;
$font2: 'Source Sans Pro', sans-serif;

@mixin button {
    background: $third;
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    color:white;
}