@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main {
  max-width: 1600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  background: #C09F80;
  height: 30vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 80%;
  border: 3px solid black;
  border-radius: 40px 0;
  margin: 10px 0;
}

header .header h1 {
  color: #76323F;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin: 10px;
  text-shadow: 3px 0px #565656;
  letter-spacing: 3px;
}

header .header p {
  color: #565656;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.form input {
  padding: 10px 20px;
  font-family: "Source Sans Pro", sans-serif;
  border: 3px solid #76323F;
  margin: 10px 20px;
  border-radius: 20px 10px;
}

.form input:focus {
  border: 3px solid #C09F80;
}

.form button {
  background: #76323F;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
}

.form button:hover {
  background: #C09F80;
  color: #565656;
}

.restaurants {
  width: calc(50% - 20px);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  margin: 0 20px;
  overflow-y: auto;
}

.restaurants .restaurant_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 30px;
}

.restaurants .restaurant_block h2, .restaurants .restaurant_block h3 {
  font-family: "Playfair Display", serif;
}

.restaurants .restaurant_block h2 {
  font-size: 1.2rem;
  color: #76323F;
}

.restaurants .restaurant_block span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
}

.restaurants .restaurant_block h3 {
  font-size: 1rem;
}

.restaurants .restaurant_block .restaurant_image {
  width: 50%;
}

.restaurants .restaurant_block .restaurant_image img {
  border-radius: 20px;
  width: 100%;
}

.restaurants .restaurant_block button {
  margin: 10px 0;
  background: #76323F;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
}

.restaurants .restaurant_block button:hover {
  background: #C09F80;
  color: #565656;
}

.restaurants .restaurant_block button:disabled {
  background: #D7CEC7;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 20px;
  width: 50%;
}

.list h1 {
  text-align: center;
  width: 100%;
  font-family: "Playfair Display", serif;
}

.list y
.restaurant_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 5px 10px;
}

.list y
.restaurant_list .list_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.list y
.restaurant_list .list_name h2 {
  font-family: "Playfair Display", serif;
  padding-left: 10px;
  font-size: 0.8rem;
  color: #76323F;
}

.list y
.restaurant_list .list_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list y
.restaurant_list .list_location h3 {
  font-family: "Playfair Display", serif;
  font-size: 0.8rem;
}

.list y
.restaurant_list .list_location span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.7rem;
}

.list y
.restaurant_list button {
  background: #76323F;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 20px 0;
  }
  .restaurants {
    width: 100%;
    height: 50%;
    margin: 10px 0;
  }
  .list {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  header .header {
    border: none;
  }
  header .header h1 {
    font-size: 1.1rem;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=App.css.map */